.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1346px;
}

.u-section-1 .u-group-1 {
  width: 335px;
  min-height: 57px;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 11px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 1160px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 331px;
  height: 561px;
  margin: 31px auto 0 24px;
}

.u-section-1 .u-image-1 {
  height: 267px;
  width: 224px;
  margin: -525px auto 0 78px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 25px 44px 0 43px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-style: italic;
  width: 293px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 17px 56px 0 43px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-shape-2 {
  width: 331px;
  height: 561px;
  margin: 31px auto 0 24px;
}

.u-section-1 .u-image-2 {
  height: 267px;
  width: 224px;
  margin: -525px auto 0 78px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 25px 44px 0 43px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-style: italic;
  width: 293px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 17px 56px 0 43px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-shape-3 {
  width: 331px;
  height: 561px;
  margin: 31px auto 0 24px;
}

.u-section-1 .u-image-3 {
  height: 267px;
  width: 224px;
  margin: -525px auto 0 78px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 25px 44px 0 43px;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  font-style: italic;
  width: 293px;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 17px 56px 0 43px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-shape-4 {
  width: 331px;
  height: 561px;
  margin: 31px auto 0 24px;
}

.u-section-1 .u-image-4 {
  height: 267px;
  width: 224px;
  margin: -525px auto 0 78px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 25px 44px 0 43px;
}

.u-section-1 .u-text-12 {
  font-weight: 400;
  font-style: italic;
  width: 293px;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 17px 56px 0 43px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-shape-5 {
  width: 331px;
  height: 561px;
  margin: 31px auto 0 24px;
}

.u-section-1 .u-image-5 {
  height: 267px;
  width: 224px;
  margin: -525px auto 0 78px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 25px 44px 0 43px;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  font-style: italic;
  width: 293px;
  margin: 0 auto;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 17px 56px 0 43px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-shape-6 {
  width: 331px;
  height: 561px;
  margin: 31px auto 0 24px;
}

.u-section-1 .u-image-6 {
  height: 267px;
  width: 224px;
  margin: -525px auto 0 78px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 25px 44px 0 43px;
}

.u-section-1 .u-text-18 {
  font-weight: 400;
  font-style: italic;
  width: 293px;
  margin: 0 auto;
}

.u-section-1 .u-text-19 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 17px 56px 0 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1441px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1208px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 49px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 36px;
  }

  .u-section-1 .u-text-2 {
    width: 293px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: 8px 31px -33px 14px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 49px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 36px;
  }

  .u-section-1 .u-text-5 {
    width: 293px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin: 8px 31px -33px 14px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 49px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 36px;
  }

  .u-section-1 .u-text-8 {
    width: 293px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin: 8px 31px -33px 14px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 49px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 36px;
  }

  .u-section-1 .u-text-11 {
    width: 293px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin: 8px 31px -33px 14px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 49px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 36px;
  }

  .u-section-1 .u-text-14 {
    width: 293px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin: 8px 31px -33px 14px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 49px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 36px;
  }

  .u-section-1 .u-text-17 {
    width: 293px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin: 8px 31px -33px 14px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1961px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1748px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 63px;
    margin-left: 15px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -517px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 17px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-4 {
    margin: 14px 34px 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 63px;
    margin-left: 15px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -517px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 17px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-7 {
    margin: 14px 34px 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 63px;
    margin-left: 15px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -517px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 17px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-10 {
    margin: 14px 34px 0;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 63px;
    margin-left: 15px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -517px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: 17px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-13 {
    margin: 14px 34px 0;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 63px;
    margin-left: 15px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -517px;
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    margin-top: 17px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-16 {
    margin: 14px 34px 0;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 63px;
    margin-left: 15px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -517px;
    margin-left: auto;
  }

  .u-section-1 .u-text-17 {
    margin-top: 17px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-19 {
    margin: 14px 34px 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3881px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 44px;
    margin-bottom: 32px;
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 3716px;
  }

  .u-section-1 .u-shape-1 {
    height: 557px;
    margin-top: 0;
    margin-left: 105px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -508px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: 123px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-3 {
    width: 331px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: 285px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-shape-2 {
    height: 557px;
    margin-top: 0;
    margin-left: 105px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -508px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 11px;
    margin-right: 123px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-6 {
    width: 331px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: 285px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-shape-3 {
    height: 557px;
    margin-top: 0;
    margin-left: 105px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -508px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 11px;
    margin-right: 123px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-9 {
    width: 331px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-10 {
    width: 285px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-shape-4 {
    height: 557px;
    margin-top: 0;
    margin-left: 105px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -508px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 11px;
    margin-right: 123px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-12 {
    width: 331px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-13 {
    width: 285px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-shape-5 {
    height: 557px;
    margin-top: 0;
    margin-left: 105px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -508px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 11px;
    margin-right: 123px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-15 {
    width: 331px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-16 {
    width: 285px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-shape-6 {
    height: 557px;
    margin-top: 0;
    margin-left: 105px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -508px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 11px;
    margin-right: 123px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-18 {
    width: 331px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-19 {
    width: 285px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    margin-top: 5px;
    margin-bottom: 60px;
    width: 340px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 49px;
    margin-left: 5px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 58px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-right: 0;
    margin-left: 23px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 21px;
    margin-right: 27px;
    margin-left: 27px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 49px;
    margin-left: 5px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 58px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-right: 0;
    margin-left: 23px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 21px;
    margin-right: 27px;
    margin-left: 27px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 49px;
    margin-left: 5px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 58px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-right: 24px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 21px;
    margin-right: 27px;
    margin-left: 27px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 49px;
    margin-left: 5px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 58px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-right: 24px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 21px;
    margin-right: 27px;
    margin-left: 27px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 49px;
    margin-left: 5px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 58px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-right: 24px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 21px;
    margin-right: 27px;
    margin-left: 27px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 49px;
    margin-left: 5px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 58px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.5rem;
    margin-top: 21px;
    margin-right: 24px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 21px;
    margin-right: 27px;
    margin-left: 27px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 631px;
}

.u-section-2 .u-group-1 {
  width: 331px;
  min-height: 561px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 223px;
  height: 269px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.125rem;
  width: 280px;
  margin: -154px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.75rem;
  width: 293px;
  margin: -182px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  font-style: italic;
  width: 293px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }
}